body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(223, 220, 220);
}

.hero{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    background-image: url('images/hero_1.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 525px) {
    .hero {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 20px;
    }

}

@supports (background-image: url('images/hero_imgs/hero_1-1920w.webp')){
    .hero{
        background-image: url('images/hero_imgs/hero_1-1920w.webp');
        background-size: cover;
        background-position: center center;
    }
}

@media screen and (min-width: 480px){
    .hero{
        background-image: url('images/hero_imgs/hero_1-480w.webp');
        background-size: cover;
        background-position: center center;
    }

}

@media screen and (min-width: 640px){
    .hero{
        background-image: url('images/hero_imgs/hero_1-640w.webp');
        background-size: cover;
        background-position: center center;
    }

}


@media screen and (min-width: 768px){
    .hero{
        background-image: url('images/hero_imgs/hero_1-768w.webp');
        background-size: cover;
        background-position: center center;
    }

}

@media screen and (min-width: 1024px){
    .hero{
        background-image: url('images/hero_imgs/hero_1-1024w.webp');
        background-size: cover;
        background-position: center center;
    }

}

@media screen and (min-width: 1920px){
    .hero{
        background-image: url('images/hero_imgs/hero_1-1920w.webp');
        background-size: cover;
        background-position: center center;
    }

}

nav li a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    padding: 10px;
}

nav li > a:hover{
    color: cadetblue;
    text-decoration: underline;
}

#toggle {
    appearance: none;
    border: none;
    display: none;
}

@media screen and (max-width: 600px){
    .hero{
        position: relative;
    }

    .menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: black;
        width: 200px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        position: absolute;
        top: 3.5rem;
        right: 1rem;
    }

    .menu li{
        display: flex;
        align-items: center;
        width: 100%;
        color: white;
    }

    .menu li::before{
        width: 1.5rem;
        text-align: center;
    }

    #toggle:checked + .menu{
        display: flex;
    }

    #toggle{
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        width: 2rem;
    }

    #toggle::before{
        content: "\2261";
        font-size: 1.7rem;
    }

    #toggle:checked::before{
        content: "\00D7";
    }

    nav li a{
        color: white;
    }
}

main > p{
    font-size: 2rem;
    font-weight: bold;
}

.featured-cars{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 25px;
    box-shadow: 5px 5px rgb(218, 217, 217);
}

.card picture img{
    padding-top: 25px;
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

.card-text{
    padding-left: 10px;
}